video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
}
.hero-container-fixed {
    top: 80px;
    width: 100%;
    height: calc(100vh - 90px);
    position: fixed;
    z-index: -1;
}
.hero-container {
    height: 160vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    opacity: 0.8;
}
.hero-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border: 2px dashed white;
    font-size: 2rem;
    font-stretch: expanded;
    font-weight: bold;
    color: white;
}
